
:root {
  --primary: #ddc8c4;
  --secondary: #6B4D57;
  --tertiary: #896a67;
  --light: #Eff9f0;
  --dark: #322a2d;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Bukhari';
  src: url('Assets/Fonts/Bukhari\ Script.woff') format('woff'),
       url('Assets/Fonts/Bukhari\ Script.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face{ 
  font-family: 'Abril';
  src: url('Assets/Fonts/AbrilFatface-Regular.woff') format('woff'),
       url('Assets/Fonts/AbrilFatface-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
main {

	max-width: 90%;
} 
html,
body {
  min-height: 100%;
}

body {
  margin: 0 auto;
  padding: 0;
  font-weight: 600;
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: .1em;
  background: var(--primary);
  font-family:'Abril', 'Helvetica Neue', Helvetica, Arial;

}

#header1 {
  background-color: var(--dark);
}

#userName {
  color: var(--light);
  font-family: 'Bukhari', 'Helvetica Neue', Helvetica;
  text-decoration: none;
  font-size: 1.4em;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: right;
}

nav a {
  color: var(--light);
  text-decoration: none;
  padding: 0px 10px 0px 10px;
  font-size: 20px;
}

.mx-2 {
  list-style: none;
}

.mainPage {
  color: var(--dark);
  font-size: 55px;
  margin: 80px 250px;
  padding: 10px 0px 110px 10px;
}
.my-5 {
  display: inline-flex;
  /* flex-wrap: wrap; */
}
.mykaelaPicture {
  max-height: 350px;
  max-width: 350px;
  margin: 90px 90px 0px 250px;
}

.my-2 {
  font-size: 20px;
  margin: 180px 0px 140px 0px;
}
 
#parentContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10px 0px 10px 300px;
}

#cardContainer {
  display: inline-flex;
  flex-direction: column;
  margin: 20px 100px  20px 10px;

}

.cardPicture {
  height: 250px;
  width: 300px;
  margin: 20px 20px 20px 20px;
}
#card {
  box-shadow: 2px 5px 5px #322a2d;
  background: var(--dark);
  color: var(--light);
  text-align: center;
}

#card a {
  color: var(--light);
  text-decoration: none;
  margin: 0px 10px 0px 10px;
}

#back {
  font-size: 25px;
}

#contactBox {
  background-color: var(--dark);
  color: var(--light);
  margin: 30px 250px 20px 200px;
  font-size: 50px;
  text-align: center;
}

#submitBtn {
  margin: 0px 400px 0px 400px;
  font-size: 25px;
}

footer {
  position:relative;
  display: flex;
  flex-direction:row;
}
.footerA {
  padding: 0px 0px 0px 700px;
}

